@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(247, 234, 240);
    color: rgb(235, 235, 242);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: rgb(54, 109, 205);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: rgb(250, 246, 248);
}

.btn {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    background-color: rgb(234, 224, 234);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn1{
    display: inline-block;
    width: 10%;
    cursor: pointer;
    background-color: rgb(8, 11, 216);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
    position: fixed; 
    top: 60px; 
    float:right; 
    right: 18.5%; 
    left: 77.25%;  
    padding: .5px; 
    color: white;
}




.btn,.btn1:focus {
    outline: 0;
}

.btn,.btn1:active {
    transform: scale(0.98);
}

::placeholder { 
    color: white;
    opacity: 1;   }

    :-ms-input-placeholder { 
        color:white;
      }
      
      ::-ms-input-placeholder { 
        color:white;
      }



.text {
    margin-top: 30px;
    color: white;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid rgb(233, 227, 227);
    display: block;
    width: 100%;
    padding: 15px 0 10px 0;
    font-size: 18px;
    color: rgb(237, 227, 227);
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: rgb(30, 29, 29);
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
    color: rgb(219, 205, 219);
    transform: translateY(-30px);
}





@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");

* { box-sizing: border-box; }

body,
html { overflow-x: hidden; }

.bar {
  position: absolute;
  top: 05px;
  left: 0;
  height: 2%;
  width: 100%;
  padding: 25px 0;

  background-color: #f05b2e;
  color: white;

  font-family: Gelasio;
  font-size: 18px;
}

.bar_content {
  display: block; /* Important to give the content a width */

  width: 100%;
  transform: translateX(100%); /* Animation start out of the screen */

  /* Add the animation */
  animation: move 30s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
  to { transform: translateX(-100%); }
}