<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <link href="form.css" type="text/css" rel="stylesheet" />
        
    </head>
    <body>
        <form >
        <div id = "box" ><br><br>
        <input type = "text" class="txt" placeholder="Enter party name" required>
        <input type = "text" class="txt1" placeholder="Enter region" required>
        <input type = "text" class="txt2" placeholder="Enter name" required>
        <button id ="btn">ENTER DETAILS</button>
        </div><br><br>
        <div>
            <button class = "sbtn" onclick = "data1(); data2(); data3()" >SUBMIT</button>
        </div>

            
    </form>
        <script type = "text/javascript" src="form.js "></script>
    </body>
</html>