<html>

<head>
    <link href="/static/css/admin.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        function add_row() {
            $rowno = $("#employee_table tr").length;
            $rowno = $rowno + 1;
            $("#employee_table tr:last").after("<tr id='row" + $rowno + "'><td><input type='text' name='name[]' placeholder='Enter Name'></td><td><input type='text' name='party[]' placeholder='Enter Party'></td><td><input type='text' name='region[]'' placeholder='Enter region'></td><td><input type='button' value='DELETE' onclick=delete_row('row" + $rowno + "')></td></tr>");
            
        
        }

        function delete_row(rowno) {
            $('#' + rowno).remove();
        }
        document.write(name)
    </script>
</head>

<body>
    <div id="wrapper">

        <div id="form_div">
            <form action="{{ url_for("admine")}}" method="POST">
                <table id="employee_table" align=center>
                    <tr id="row1">
                        <td><input type="text" name="name[]" placeholder="Enter Name"></td>
                        <td><input type="text" name="party[]" placeholder="Enter Party"></td>
                        <td><input type="text" name="region[]" placeholder="Enter region"></td>
                    </tr>
                </table>
                <input type="button" onclick="add_row();" value="ADD ROW">
                <input type="submit" name="submit_row" value="SUBMIT">
            </form>
        </div>

    </div>
</body>

</html>
