<!DOCTYPE html>
<script type = "text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<html lang="en">
    <head>
        <title>Admin</title>
        <link href="/static/css/admin.css" type="text/css" rel="stylesheet" />
        
    </head>
    <body>
        <form onSubmit = "data1(); data2(); data3(); check()", action="/admin", method="POST">
        <div id = "box" ><br><br>
        <input type = "text" class="txt" placeholder="Enter party name" required>
        <input type = "text" class="txt1" placeholder="Enter region" required>
        <input type = "text" class="txt2" placeholder="Enter name" required>
        <button id ="btn">ENTER DETAILS</button>
        </div><br><br>
        <div>
            <button class = "sbtn"  >SUBMIT</button>
            <Strong>{{Error}}</Strong>
        </div>

            
    </form>
        <script type = "text/javascript" src="/static/js/form.js"></script>
    </body>
</html>

