<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VERIFY</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <div class="container">
        <h1>Verification</h1>
        <form action="{{ url_for("verification")}}" method="POST">
            <div class="form-control">
                <input type="text" name="otp" required pattern="[0-9]{4}" maxlength=4 id="userCode" ng-model="formdata.userCode" title="4 Digit code">&nbsp;
                <label>Enter otp </label>
            </div>
            <button class="btn">VERIFY</button>
        </form>
    </div>

    <script src="/static/js/sjs.js"></script>
</body>

</html>
